
/* Estilo general para el cuerpo */
body {
    font-family: Arial, sans-serif; /*fuente de toda la página */
    background-color: #2c2c2c; /* Fondo oscuro */
    color: white; /* Texto blanco */
    text-align: center; /* Centra el contenido horizontalmente */
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem; /* Tamaño grande para el título */
    margin-bottom: 20px; /* Espacio debajo del título */
    color: white; /* Texto blanco */
    text-transform: none !important; /* Asegura que no se aplique ninguna transformación */
    text-align: center; /* Centra el título */
}



/* Botones principales */
button {
    width: 150px; /* Ancho fijo de los botones */
    height: 150px; /* Altura fija de los botones */
    border: none; /* Sin borde */
    color: white; /* Texto blanco */
    font-size: 18px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    cursor: pointer; /* Cambia el cursor a una mano */
    border-radius: 10px; /* Bordes redondeados */
    margin: 10px; /* Espaciado entre los botones */
    display: inline-block; /* Muestra los botones en la misma línea */
}

/* Botón Ejercicio 1 */
button:first-child {
    background-color: #c600c6; /* Morado */
}

/* Botón Ejercicio 2 */
button:last-child {
    background-color: #50c878; /* Verde */
}

/* Efecto al pasar el cursor */
button:hover {
    opacity: 0.9; /* Reduce ligeramente la opacidad al pasar el cursor */
}